In [1]:
import pandas as pd
import json
import datetime as dt

# Limpieza

In [3]:
# cargamos los datos

with open('../datos/clima.json', 'r') as f:
    clima_json = json.load(f)

In [4]:
clima_json.keys()

dict_keys(['Elche', 'Ottawa', 'Adelaide', 'Helsinki'])

Los datos están en un diccionario donde los keys son las ciudades, y los values son listas de strings. Cada string contiene los datos de un mes.

In [5]:
def crear_dataframes(json):
    
    dicc_df = {}
    
    # iteramos por el diccionario contenido en el json
    for k, v in json.items():
        
        dicc_df[k] = []
        
        lista_df = []
        lista_faltas = []
        año = 2001
        
        # iteramos por cada string contenido en la lista de valores
        # cada elemento es un string de los datos de un mes
        for i in v:
            # dividimos los datos por los saltos de linea
            datos = i.split('\n')

            # definimos los nombres de las columnas (del dataframe que se va a crear) como la primera string de la nueva lista de datos
            columnas = datos.pop(0).split(')')
            for indice, columna in enumerate(columnas):
                columnas[indice] = columna.strip().replace(' ', '_') + ')'
            columnas.pop(-1)
            
            # creamos un diccionario donde los keys son los nombres de las columnas 
            dicc_datos = {}
            dicc_datos['dias'] = []
            for col in columnas:
                dicc_datos[col] = []
            
            mes = datos[0]
            if mes == "Jan":
                año += 1
                   
            if len(datos) < 203:
                lista_faltas.append((k, año, mes))

                pass
            else:
                # iteramos por una lista de posibles valores de la longitud de un mes
                # usamos este valor para sacar los datos segun los indices
                for n in range(27,34):
                    if datos[n] == 'Max Avg Min':
                        for x, key in enumerate(dicc_datos.keys()):
                            dicc_datos[key] = datos[x*n:x*n+n]
                # creamos un dataframe de los datos
                df = pd.DataFrame(dicc_datos)
                
                

                # creamos una copia del dataframe
                df2 = df.copy()
                for col in df2.columns[1:-1]:
                    try:
                        df2[col] = df2[col].str.split(' ')

                        # display(df2)

                    except:
                        print('error split:', k, mes, año)
                
                # dividimos las columnas que tienen datos combinados, usando la copia del dataframe
                # para sacar los nombres de las columnas 
                try:
                    for col in df.columns[1:-1]:
                        col1 = f'{col}_{df2.loc[0,col][0]}'
                        col2 = f'{col}_{df2.loc[0,col][1]}'
                        col3 = f'{col}_{df2.loc[0,col][2]}'
                        df[[col1, col2, col3]] = df[col].str.split(' ', expand=True)
                        df.drop(col, axis=1, inplace=True)
                except:
                    print('error columnas:', k, mes, año)
                    
                # eliminamos la primera fila que ahora es redundante y ponemos la columna de dias como índice    
                df.drop(0, axis=0, inplace=True)
                df['Month'] = mes
                df['Year'] = año
                df['Date'] =  df['dias'] + "-" + mes + "-" + str(año)
                # df.set_index('dias', inplace=True)
                
                lista_df.append(df)
                if mes == 'Dec':
                    df_año = pd.concat(lista_df, axis=0)
                    # año += 1
                    # display(df_año)
                    dicc_df[k].append(df_año)
        
    print(f"Meses que faltan: {lista_faltas}")            
    return dicc_df

In [6]:
# aplicamos la funcion al contenido del archivo de json que contiene los datos

dicc_datos = crear_dataframes(clima_json)

Meses que faltan: [('Helsinki', 2004, 'Jan')]

In [7]:
# comprobamos que se han creado todos los keys del diccionario de dataframes

dicc_datos.keys()

dict_keys(['Elche', 'Ottawa', 'Adelaide', 'Helsinki'])

In [8]:
# concatenamos los dataframes de cada ciudad

for k, v in dicc_datos.items():
    dicc_datos[k] = pd.concat(v, axis=0)

In [9]:
# creamos una nueva columna de ciudad 

for k, v in dicc_datos.items():
    v['City'] = k

In [10]:
# creamos el dataframe final concatenando los cuatro dataframes de las ciudades

df_final = pd.concat([dicc_datos['Elche'], dicc_datos['Adelaide'],
                     dicc_datos['Helsinki'], dicc_datos['Ottawa']], axis=0)

In [11]:
# cambiamos el tipo de datos de la columna de fechas a tipo datetime

df_final['Date'] = df_final['Date'].apply(pd.to_datetime)

In [12]:
# comprobamos que el dataframe contiene todos los datos

df_final.shape

(336462, 21)

In [13]:
# examinamos los tipos de datos

df_final.dtypes

dias                                 object
Precipitation_(in)                   object
Time_Temperature_(°F)_Max            object
Time_Temperature_(°F)_Avg            object
Time_Temperature_(°F)_Min            object
Dew_Point_(°F)_Max                   object
Dew_Point_(°F)_Avg                   object
Dew_Point_(°F)_Min                   object
Humidity_(%)_Max                     object
Humidity_(%)_Avg                     object
Humidity_(%)_Min                     object
Wind_Speed_(mph)_Max                 object
Wind_Speed_(mph)_Avg                 object
Wind_Speed_(mph)_Min                 object
Pressure_(in)_Max                    object
Pressure_(in)_Avg                    object
Pressure_(in)_Min                    object
Month                                object
Year                                  int64
Date                         datetime64[ns]
City                                 object
dtype: object

In [14]:
# hacemos una lista de las columnas que son de tipo object que deberian ser tipo float

columnas_num = ['Precipitation_(in)', 'Time_Temperature_(°F)_Max',
       'Time_Temperature_(°F)_Avg', 'Time_Temperature_(°F)_Min',
       'Dew_Point_(°F)_Max', 'Dew_Point_(°F)_Avg', 'Dew_Point_(°F)_Min',
       'Humidity_(%)_Max', 'Humidity_(%)_Avg', 'Humidity_(%)_Min',
       'Wind_Speed_(mph)_Max', 'Wind_Speed_(mph)_Avg', 'Wind_Speed_(mph)_Min',
       'Pressure_(in)_Max', 'Pressure_(in)_Avg', 'Pressure_(in)_Min']

In [15]:
# cambiamos estas columnas a tipo float

for i in columnas_num:
    df_final[i] = df_final[i].astype('float64')

In [16]:
# funcion para convertir las temperaturas de Farenheit en Celsius

def far_to_cel(columna):
    try:
        return round(((columna - 32) * (5/9)), 1)
    except:
        print(columna)
        return columna

In [17]:
# aplicamos la funcion de conversion a las columnas que contienen datos de temperaturas

for i in ['Time_Temperature_(°F)_Max',
       'Time_Temperature_(°F)_Avg', 'Time_Temperature_(°F)_Min',
       'Dew_Point_(°F)_Max', 'Dew_Point_(°F)_Avg', 'Dew_Point_(°F)_Min']:
    
    df_final[i] = df_final[i].apply(far_to_cel)

In [18]:
# aplicamos una lambda a la columna de precipitacion para convertirlo a milimetros

df_final['Precipitation_(in)'] = df_final['Precipitation_(in)'].apply(lambda x: x * 25.4)

In [19]:
# aplicamos una lambda a las columnas de presion atmosferica para convertirlas a hectoPascales

for i in ['Pressure_(in)_Max', 'Pressure_(in)_Avg', 'Pressure_(in)_Min']:
    df_final[i] = df_final[i].apply(lambda x: round(x * 33.86389))

In [20]:
# aplicamos una lambda para convertir las velocidades de viento en kilometros por hora

for i in ['Wind_Speed_(mph)_Max', 'Wind_Speed_(mph)_Avg', 'Wind_Speed_(mph)_Min']:
    df_final[i] = df_final[i].apply(lambda y: round(y * 1.609344, 1))

In [21]:
# imprimimos las columnas en el formato de diccionario

for col in df_final.columns:
    print(f"'{col}': '{col}', ")

'dias': 'dias',
'Precipitation_(in)': 'Precipitation_(in)',
'Time_Temperature_(°F)_Max': 'Time_Temperature_(°F)_Max',
'Time_Temperature_(°F)_Avg': 'Time_Temperature_(°F)_Avg',
'Time_Temperature_(°F)_Min': 'Time_Temperature_(°F)_Min',
'Dew_Point_(°F)_Max': 'Dew_Point_(°F)_Max',
'Dew_Point_(°F)_Avg': 'Dew_Point_(°F)_Avg',
'Dew_Point_(°F)_Min': 'Dew_Point_(°F)_Min',
'Humidity_(%)_Max': 'Humidity_(%)_Max',
'Humidity_(%)_Avg': 'Humidity_(%)_Avg',
'Humidity_(%)_Min': 'Humidity_(%)_Min',
'Wind_Speed_(mph)_Max': 'Wind_Speed_(mph)_Max',
'Wind_Speed_(mph)_Avg': 'Wind_Speed_(mph)_Avg',
'Wind_Speed_(mph)_Min': 'Wind_Speed_(mph)_Min',
'Pressure_(in)_Max': 'Pressure_(in)_Max',
'Pressure_(in)_Avg': 'Pressure_(in)_Avg',
'Pressure_(in)_Min': 'Pressure_(in)_Min',
'Month': 'Month',
'Year': 'Year',
'Date': 'Date',
'City': 'City',

In [22]:
# renombramos las columnas para reflejar las nuevas unidades despues de las conversiones que hemos hecho

df_final.rename(columns = {'dias': 'Day', 
                            'Precipitation_(in)': 'Precipitation_(mm)', 
                            'Time_Temperature_(°F)_Max': 'Temperature_(°C)_Max', 
                            'Time_Temperature_(°F)_Avg': 'Temperature_(°C)_Avg', 
                            'Time_Temperature_(°F)_Min': 'Temperature_(°C)_Min', 
                            'Dew_Point_(°F)_Max': 'Dew_Point_(°C)_Max', 
                            'Dew_Point_(°F)_Avg': 'Dew_Point_(°C)_Avg', 
                            'Dew_Point_(°F)_Min': 'Dew_Point_(°C)_Min', 
                            'Humidity_(%)_Max': 'Humidity_(%)_Max', 
                            'Humidity_(%)_Avg': 'Humidity_(%)_Avg', 
                            'Humidity_(%)_Min': 'Humidity_(%)_Min', 
                            'Wind_Speed_(mph)_Max': 'Wind_Speed_(kph)_Max', 
                            'Wind_Speed_(mph)_Avg': 'Wind_Speed_(kph)_Avg', 
                            'Wind_Speed_(mph)_Min': 'Wind_Speed_(kph)_Min', 
                            'Pressure_(in)_Max': 'Pressure_(hPa)_Max', 
                            'Pressure_(in)_Avg': 'Pressure_(hPa)_Avg', 
                            'Pressure_(in)_Min': 'Pressure_(hPa)_Min', 
                            'Month': 'Month', 
                            'Year': 'Year', 
                            'Date': 'Date', 
                            'City': 'City'}, inplace = True)

In [23]:
# cambiamos las columnas de año, mes y dia a tipo datetime, basado en la columna fecha

df_final['Year'] = df_final['Date'].apply(lambda x: x.strftime('%Y'))
df_final['Month'] = df_final['Date'].apply(lambda x: x.strftime('%B'))
df_final['Day'] = df_final['Date'].apply(lambda x: x.strftime('%-d'))

In [24]:
# creamos una funcion para crear una columna de estaciones

def estacion(x, ciudad):
    if ciudad == 'Adelaide':
        if x.strftime('%m-%d') <= '03-20':
            return 'summer'
        elif x.strftime('%m-%d') <= '06-20':
            return 'autumn'
        elif x.strftime('%m-%d') <= '09-20' :
            return 'winter'
        elif x.strftime('%m-%d') <= '12-20':
            return 'spring'
        elif x.strftime('%m-%d') <= '12-31':
            return 'summer'
    else:
        if x.strftime('%m-%d') <= '03-20':
            return 'winter'
        elif x.strftime('%m-%d') <= '06-20':
            return 'spring'
        elif x.strftime('%m-%d') <= '09-20' :
            return 'summer'
        elif x.strftime('%m-%d') <= '12-20':
            return 'autumn'
        elif x.strftime('%m-%d') <= '12-31':
            return 'winter'

In [25]:
# aplicamos la funcion de estaciones

df_final['Season'] = df_final.apply(lambda x: estacion(x['Date'], x['City']), axis=1)

In [26]:
# reordenamos las columnas a una orden mas logica

reorder = ['City', 'Date', 'Day', 'Month', 'Year', 'Season', 'Precipitation_(mm)', 'Temperature_(°C)_Max',
       'Temperature_(°C)_Avg', 'Temperature_(°C)_Min', 'Dew_Point_(°C)_Max',
       'Dew_Point_(°C)_Avg', 'Dew_Point_(°C)_Min', 'Humidity_(%)_Max',
       'Humidity_(%)_Avg', 'Humidity_(%)_Min', 'Wind_Speed_(kph)_Max',
       'Wind_Speed_(kph)_Avg', 'Wind_Speed_(kph)_Min', 'Pressure_(hPa)_Max',
       'Pressure_(hPa)_Avg', 'Pressure_(hPa)_Min']

df_final = df_final.reindex(columns = reorder)

In [27]:
# examinamos el dataframe final

df_final.head()

,City,Date,Day,Month,Year,Season,Precipitation_(mm),Temperature_(°C)_Max,Temperature_(°C)_Avg,Temperature_(°C)_Min,...,Dew_Point_(°C)_Min,Humidity_(%)_Max,Humidity_(%)_Avg,Humidity_(%)_Min,Wind_Speed_(kph)_Max,Wind_Speed_(kph)_Avg,Wind_Speed_(kph)_Min,Pressure_(hPa)_Max,Pressure_(hPa)_Avg,Pressure_(hPa)_Min
1,Elche,2002-01-01,1,January,2002,winter,0.0,13.9,12.7,12.2,...,5.0,94.0,75.9,62.0,37.0,25.1,19.3,1023,1023,1019
2,Elche,2002-01-02,2,January,2002,winter,0.0,13.9,12.7,10.0,...,7.2,82.0,76.7,67.0,40.2,23.0,4.8,1023,1019,1019
3,Elche,2002-01-03,3,January,2002,winter,0.0,13.9,11.6,8.9,...,7.2,94.0,83.8,72.0,14.5,5.6,0.0,1019,1016,1013
4,Elche,2002-01-04,4,January,2002,winter,0.0,15.0,12.5,8.9,...,6.1,94.0,77.6,63.0,29.0,12.9,3.2,1023,1016,1013
5,Elche,2002-01-05,5,January,2002,winter,0.0,13.9,13.0,12.2,...,5.0,88.0,68.2,58.0,27.4,23.3,9.7,1029,1026,1023

In [28]:
# guardamos los datos en un csv

df_final.to_csv('../datos/clima_2002-2022.csv')